Repository navit-gps/navit, pull requests merged in 2019-09, with the labels that each got.

#824 core:feature:multipolygon support
  navit/attr.c
  navit/attr.h
  navit/attr_def.h
  navit/graphics.c
  navit/graphics.h
  navit/graphics/gtk_drawing_area/graphics_gtk_drawing_area.c
  navit/graphics/qt5/graphics_qt5.cpp
  navit/graphics/win32/graphics_win32.c
  navit/item.h
  navit/layout.h
  navit/maptool/maptool.c
  navit/maptool/maptool.h
  navit/maptool/misc.c
  navit/maptool/osm.c
Labels: core, enhancement

#794 Add/Android: Provide geo coordinates for clicked position in contextual menu
  navit/android.c
  navit/android/src/org/navitproject/navit/NavitGraphics.java
  navit/attr.c
  navit/attr.h
  navit/bookmarks.c
  navit/coord.c
  navit/coord.h
  navit/gui/internal/gui_internal.c
  navit/gui/internal/gui_internal_command.c
  navit/util.c
  navit/util.h
Labels: android, enhancement

#880 update:doc:Migrating linux development and dependencies from the old wiki
  docs/development/linux_development.rst
  docs/index.rst
Labels: doc

#884 fix/enhancement:graphics/layout:get default icon size from layout + draw tunnels transparent + mark oneway streets
  navit/attr_def.h
  navit/color.h
  navit/graphics.c
  navit/layout.c
  navit/layout.h
  navit/navit_layout_bike_shipped.xml
  navit/navit_layout_car_android_shipped.xml
  navit/navit_layout_car_dark_shipped.xml
  navit/navit_layout_car_shipped.xml
  navit/navit_layout_car_simple_shipped.xml
  navit/navit_layout_th_shipped.xml
  navit/xslt/sailfish_svg.xslt
Labels: enhancement
