Repository navit-gps/navit, pull requests merged in 2019-11, with the labels that each got.

#936 Move checkstyle into the sanity_check phase
  .circleci/config.yml
  .gitignore
  scripts/setup_sanitycheck_requirements.sh
Labels: build system

#912 Update:i18n:Updated Swedish translation from launchpad
  po/sv.po.in
Labels: WIP, i18n

#943 Update:Android:Navit logo. Closes #909
  logo_catalog.svg
  navit/android/res/drawable-hdpi/icon.png
  navit/android/res/drawable-ldpi/icon.png
  navit/android/res/drawable-mdpi/icon.png
  navit/android/res/drawable-xhdpi/icon.png
  navit/android/res/drawable-xxhdpi/icon.png
Labels: android, icons

#875 fix:tomtom: Make sure the tomtom_plugin and tomtom_minimal contain navit.xml
  .circleci/config.yml
  navit/xslt/tomtom.xslt
  scripts/build_tomtom_minimal.sh
  scripts/build_tomtom_plugin.sh
  scripts/setup_tomtom_requirements.sh
Labels: bug, tomtom
